{% extends "users/base.html" %}
{% block title %} FakeReview {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is Home Page which will have the all the reviews listed. You can add the review from this page(yet to be added)
            In this page you will a button to detect all the fake review
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}

            {% else %}
                Please <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}