{% extends "users/base.html" %}
{% block title %} JobRecommendation {% endblock title%}
{% block content %}
    <div class="jumbotron">
        <h1 class="display-4">Welcome, {{user.first_name.title|default:'Guest'}}</h1>
        <p class="lead">
            This is Home Page which will have the all the Job Listed. You can add the your job experience from this page(yet to be added)
            In this page you will have a button to give recommendation.
        </p>
        <hr class="my-4">
        <p class="lead">
            {% if user.is_authenticated %}

            {% else %}
                Please <a class="btn btn-primary btn-lg" href="{% url 'login' %}" role="button">Sign in</a>
            {% endif %}
        </p>
    </div>

{% endblock content %}